<!DOCTYPE html>
<html>
<head>
    <title>{{ .Title }}</title>
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/device/">Devices</a>
        <a href="/manufacturer/">Manufacturers</a>
        <!-- This should always include the About page -->
        <!-- But "About" only appears on the homepage... -->
        {{ range .Data.Pages }}
            {{ if eq .Type "page" }}
                <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ end }}
        {{ end }}
    </nav>
